* {
    font-family: sans-serif,monospace,fantasy;
    overflow-x: hidden;
}
/*start nav*/
.navbar-default {
    background-color: #222222;
    border-color: transparent;
}
.navbar-inverse .navbar-nav>li>a {
	color: #FFF;
}
.navbar-default .navbar-nav>li>a:hover{color:#FF6500;}

.navbar-default .navbar-nav > li > a{
	color: #FFF;
	font-size: 20px;
/*	text-transform: uppercase;*/
    font-family: 'B612', sans-serif;
    margin-top: -10px;
    padding: 15px;
}
.navbar .te{
	font-size: 33px;
    margin-top: 6px;
    color: #FF6500;
}
.navbar-right{
	padding-top: 15px;
}

/*end nav*/
/*start pic*/
.pic img {
    width: 100%;
    height: 810.92px;
    background-size: cover;
    position: relative;
    
}
/*end pic*/
.part {
    margin-left: 15px;
}
.part h2 {
    font-size: 40px;
    color: #FF6500;
}
.part p {
    font-size: 30px;
}
.part .pics img {
    height: 200px;
    width: 100%;
}

/*start footer*/
footer p {
    background-color: #222222;
    color: white;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0px;
}
footer span {
    color: #FF6500;
    font-size: 16px;
}